footer {
  line-height: 20px;

  a,
  span {
    @include respond-below('md') {
      font-size: 12px;
    }
    color: theme-color('footer-grey');
    font-size: 13px;
    font-weight: 400;
  }

  h6 {
    border-bottom: 1px solid;
    font-size: 15px;
    margin: 0 0 20px;
    padding: 0 0 7px;
  }

  ul {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
  }

  li {
    @include respond-below('lg') {
      margin: 0 5px;
      width: 100%;
    }
    @include respond-above('lg') {
      float: left;
      margin: 0 0 5px;
      width: 47.5%;

      &:nth-child(odd) {
        margin: 0 5% 0 0;
      }
    }
    list-style: none;
  }
}
