
.top-banner {
  position: relative;

  .banner-overlay {
    @include respond-above('md') {
      bottom: 0;
      position: absolute;
    }

    p {
      @include respond-above('lg') {
        font-size: 18px;
      }
    }

    h2 {
      font-size: 40px;
    }
  }
}

.quote-row {
  padding-bottom: 0;

  h6 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.15em;
    margin: 0 0 5px;

    span {
      left: 0;
      position: absolute;
    }
  }

  .author {
    font-size: 25px;
  }

  img {
    @media (min-width: 576px) {
      bottom: 0;
      position: absolute;
      right: 0;
      width: 280px;
    }
    @media (max-width: 576px) {
      bottom: 0;
      width: 150px;
    }
  }
}

.volunteers-section {
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
  }
}

.welcome-section {
  h1 {
    font-size: 65px;
    line-height: 1em;
  }

  p {
    font-size: 18px;
  }
}
