.scouts-purple {
  border-color: theme-color($key: 'scouts-purple');
  color: theme-color($key: 'scouts-purple');
}

.scouts-blue {
  border-color: theme-color($key: 'scouts-blue');
  color: theme-color($key: 'scouts-blue');
}

.scouts-teal {
  border-color: theme-color($key: 'scouts-teal');
  color: theme-color($key: 'scouts-teal');
}

.scouts-red {
  border-color: theme-color($key: 'scouts-red');
  color: theme-color($key: 'scouts-red');
}

.scouts-green {
  border-color: theme-color($key: 'scouts-green');
  color: theme-color($key: 'scouts-green');
}

.bg-scouts-blue {
  background: theme-color($key: 'scouts-blue');
  color: $white;
}

.bg-scouts-green {
  background: theme-color($key: 'scouts-green');
  color: $white;
}

.bg-scouts-navy {
  background: theme-color($key: 'scouts-navy');
  color: $white;
}

.bg-scouts-black {
  background: $black;
  color: $black;
}

.bg-scouts-teal {
  background: theme-color($key: 'scouts-teal');
  color: $white;
}

.bg-scouts-purple {
  background: theme-color($key: 'scouts-purple');
  color: $white;
}
