.scouts-purple {
  border-color: $scouts-purple;
  color: $scouts-purple;
}

.scouts-blue {
  border-color: $scouts-blue;
  color: $scouts-blue;
}

.scouts-yellow {
  border-color: $scouts-yellow;
  color: $black;
}

.scouts-teal {
  border-color: $scouts-teal;
  color: $scouts-teal;
}

.scouts-red {
  border-color: $scouts-red;
  color: $scouts-red;
}

.scouts-green {
  border-color: $scouts-green;
  color: $scouts-green;
}

.bg-scouts-blue {
  background: $scouts-blue;
  color: $white;
}

.bg-scouts-green {
  background: $scouts-green;
  color: $white;
}

.bg-scouts-navy {
  background: $scouts-navy;
  color: $white;
}

.bg-scouts-black {
  background: $black;
  color: $black;
}

.bg-scouts-teal {
  background: $scouts-teal;
  color: $white;
}

.bg-scouts-purple {
  background: $scouts-purple;
  color: $white;
}

.bg-scouts-yellow {
  background: $scouts-yellow;
  color: $black;
}
