.sidebar {
  .join {
    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.4em;
    }
  }
  .card {
    width: 100%;
    .card-header {
      text-align: center;
      font-size: 16px;
      font-weight: 800;
    }
  }
}
