$scouts-purple: #7413dc;
$scouts-blue: #006ddf;
$scouts-teal: #00a794;
$scouts-red: #e22e12;
$scouts-green: #23a950;
$scouts-navy: #003982;
$footer-grey: #666;

$font-family-base: 'Nunito Sans', sans-serif;
$font-weight-base: 300;
$navbar-light-color: $scouts-purple;
$navbar-light-hover-color: $scouts-teal;
